div.sun {
  font-size: 1em;
  color: #FF3262;
  line-height: 1.6em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  margin: 0 0 0.8em 0;  
  position: relative;
}

#navitem--sub--1, #navitem--sub--2, #navitem--sub--3, #navitem--sub--4, #navitem--sub--5, 
#navitem--sub--6, #navitem--sub--7, #navitem--sub--8, #navitem--sub--9, #navitem--sub--10,
#navitem--sub--11, #navitem--sub--12, #navitem--sub--13, #navitem--sub--14, #navitem--sub--15,
#navitem--sub--16, #navitem--sub--17, #navitem--sub--18, #navitem--sub--19, #navitem--sub--20,
#navitem--sub--21, #navitem--sub--22, #navitem--sub--23, #navitem--sub--24, #navitem--sub--25 {
  position: relative;
  padding: 0 0 0 0.8em;
  font-weight: normal;
  font-size: 0.8em;
  line-height: 1.6em;
}

#navitem--sub--30, #navitem--sub--31, #navitem--sub--32 {
  position: relative;
  padding: none;
}

.reveal {
  display: none;
}

.revealLast {
  display: none;
  padding-bottom: 1.6em;
}
