.sytem1 {
  z-index: 1;
  width: 40vw;
  height: 50vh;
}

.system2 {
  z-index: 4;
  width: 40vw;
  height: 30vh;
}

.system3 {
  z-index: 7;
  width: 50vw;
  height: 30vh;
}

.sun {
  width: 8vw;
  font-size: 1.7em;
  line-height: 1.4em;
  font-family: 'AdisKomet', sans-serif;
  font-weight: bold;
  color: #fc3d21;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  margin: 0 0 0 0;
}

#sun--1 {
  position: absolute;
  top: 27vh;
  left: 63vw;
}

#sun--2 {
  position: absolute;
  top: -21vh;
  left: 12vw;
}

#sun--3 {
  position: absolute;
  top: -90vh;
  left: 51vw;
}

#navitem--sub--1, #navitem--sub--2, #navitem--sub--3, #navitem--sub--4, #navitem--sub--5, #navitem--sub--6 {
  position: absolute;
  margin: 0 0 0 0;
  padding: none;
  font-family: 'AdisMarat', serif;
  font-weight: normal;
  font-size: 1.2em;
  line-height: 1.4em;
}

#navitem--sub--7, #navitem--sub--8, #navitem--sub--9, #navitem--sub--10, #navitem--sub--11, #navitem--sub--12, #navitem--sub--13 {
  position: absolute;
  margin: 0 0 0 0;
  padding: none;
  font-family: 'AdisMarat', serif;
  font-weight: normal;
  font-size: 1.2em;
  line-height: 1.4em;
}

#navitem--sub--14, #navitem--sub--15, #navitem--sub--16, #navitem--sub--17 {
  position: absolute;
  margin: 0 0 0 0;
  padding: none;
  font-family: 'AdisMarat', serif;
  font-weight: normal;
  font-size: 1.2em;
  line-height: 1.4em;
}


/*styling for sun1 items*/
.nav--sun1--1 {
  top: 48vh;
  left: 60vw;
  width: 18vw;
}

.nav--sun1--2 {
  top: 18vh;
  left: 72vw;
  width: 18vw;
}

.nav--sun1--3 {
  top: 21vh;
  left: 42vw;
  width: 18vw;
}

.nav--sun1--4 {
  top: 33vh;
  left: 78vw;
  width: 18vw;
}

.nav--sun1--5 {
  top: 35vh;
  left: 42vw;
  width: 18vw;
}

.nav--sun1--6 {
  top: 44vh;
  left: 45vw;
  width: 18vw;
}


/*styling for sun2 items*/
.suntwo--1 {
  top: -30vh;
  left: 21vw;
  width: 18vw;
}

.suntwo--2 {
  top: 0vh;
  left: 3vw;
  width: 18vw;
}

.suntwo--3 {
  top: -21vh;
  left: 24vw;
  width: 18vw;
}

.suntwo--4 {
  top: 3vh;
  left: 18vw;
  width: 18vw;
}

.suntwo--5 {
  top: -15vh;
  left: 6vw;
  width: 18vw;
}

.suntwo--6 {
  top: -6vh;
  left: 18vw;
  width: 18vw;
}

.suntwo--7 {
  top: -27vh;
  left: 12vw;
  width: 18vw;
}

/*styling for sun3 items*/
.sunthree--1 {
  top: -96vh;
  left: 45vw;
  width: 18vw;
}

.sunthree--2 {
  top: -90vh;
  left: 69vw;
  width: 18vw;
}

.sunthree--3 {
  top: -69vh;
  left: 51vw;
  width: 18vw;
}

.sunthree--4 {
  top: -75vh;
  left: 63vw;
  width: 18vw;
}


