.sun {
  width: 34vw;
  font-size: 2.7em;
  line-height: 1.5em;
  font-family: 'AdisKomet', sans-serif;
  font-weight: bold;
  color: #fc3d21;
  text-transform: uppercase;
  letter-spacing: 0.3em;

  margin: 0 0 0 1em;
  position: absolute;
  top: 33vh;
  left: 61vw/*calc(50% - 3.2em)*/;
  /*margin-right: -50%;*/
  /*transform: translate(-50%, -50%)*/ 
}

#navitem--sub--1, #navitem--sub--2, #navitem--sub--3, #navitem--sub--4, #navitem--sub--5 {
  position: absolute;
  margin: 0 2em 0 2em;
  padding: none;
}

/*date styling*/
#navitem--sub--1 {
  top: 24vh;
  left: 61.2vw;
  font-family: 'AdisMarat', serif;
  font-weight: normal;
  font-size: 1.2em;
  line-height: 1.8em;
  width: 34vw;
}

/*teaser styling*/
/*#navitem--sub--2 {
  top: 4vh;
  left: 60vw;
  font-family: 'AdisMarat', serif;
  font-weight: normal;
  font-size: 1.7em;
  line-height: 1.6em;
  width: 34vw;
}*/

/*image styling*/
#navitem--sub--3 {
  top: 4vh;
  left: 27vw;
}

/*text styling*/
#navitem--sub--2 {
  top: 63.2vh;
  left: 9vw;
  width: 38vw;
  font-family: 'AdisMarat', serif;
  font-weight: normal;
  font-size: 1.2em;
  line-height: 1.8em;
  margin-top: 0.35em;
}
