/* CSS Reset */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  width: 100vw;
  height: 100vh;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  box-sizing: border-box;
}

span {
  display: inline-block;
}



@font-face {
  font-family: "AdisKomet";
  src: url("../fnt/Komet-Bold.woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "AdisMarat";
  src: url("../fnt/MaratWeb-Bold.woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "AdisMarat";
  src: url("../fnt/MaratWeb-Light.woff");
  font-weight: normal;
  font-style: normal;
}


body {
  /* perspective: 200px; */
  font-size: 1em;
  font-family: 'AdisMarat', serif;
  color: white;
  overflow: hidden;

  background: linear-gradient(183deg, rgba(252,61,33,0.5) 1%, rgba(252,61,33,0) 60%),
              linear-gradient(250deg, rgba(252,61,33,0) 10%, rgba(252,61,33,0.2) 20%, rgba(11,35,47,0.2) 50%),
              repeating-linear-gradient(180deg, rgba(255,255,255,0.1), rgba(255,255,255,0.1) 3px, rgba(0,0,0,0.1) 3px, rgba(0,0,0,0.1) 4px );

  background-color: #0F4D99; /* #0b3d91; */
  background-repeat: no-repeat;
  background-attachment: fixed;
}

img.article {
  height: 12em;
  opacity: 0.5;
  /*filter: invert(100%);*/
  filter: hue-rotate(180deg);
}

.logo {
  margin: 1em 0 0 1em;
}

img.logo {
  height: 9em;
}

a {
  text-decoration: none;
  color: white;
  box-sizing: border-box;
  box-shadow: inset 0 -0.06em 0 rgba(252,61,33,0.8); /* #fc3d21 */
}

a:hover {
  /*background: black;*/
  color: #fc3d21;
}

.teaser {
  font-family: 'AdisMarat', serif;
  font-weight: normal;
  font-size: 1.8em;
  line-height: 1.4em;
  width: 15em;
}

#universe {
  z-index: 1;
  position: relative;
  width: 80vw;
  height: 80vh;
}

.galaxy {
  width: 90%;
  height: 90%;
  position: relative;
}

.solarsystem {
  z-index: 4;
  position: relative;
  width: 60vw;
  height: 60vh;
}

#navitem--sub--1, #navitem--sub--2, #navitem--sub--3, #navitem--sub--4, #navitem--sub--5 {
  font-weight: normal;
  font-size: 1.2em;
  line-height: 1.6em;
  position: fixed;
  width: 18em; 
  margin: 2em 2em 0 2em;
}

#navitem--sub--1 {
  top: 20%;
  left: 50%;
}

#navitem--sub--2 {
  top: 67%;
  left: 0%;
}

#navitem--sub--3 {
  top: 15%;
  left: 0%;
}

#navitem--sub--4 {
  top: 67%;
  left: 42%;
  width: 27%;
}

#navitem--sub--5 {
  top: 67%;
  left: 73%;
  width: 27%;
}

svg {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left:0px;
  background-color: none;
}

.sun {
  width: 6em;
  font-size: 2.7em;
  line-height: 1.5em;
  font-family: 'AdisKomet', sans-serif;
  font-weight: bold;
  color: #fc3d21;
  text-transform: uppercase;
  letter-spacing: 0.3em;

  margin: 0 auto;
  position: absolute;
  top: 25%;
  left: calc(50% - 3.2em);
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

iframe {
  width: 1000px;
  height: auto;
}
