/* CSS Reset */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  width: 100vw;
  height: 100vh;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  box-sizing: border-box;
}

span {
  display: inline-block;
}



@font-face {
  font-family: "AdisKomet";
  src: url("../fnt/Komet-Bold.woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "AdisMarat";
  src: url("../fnt/MaratWeb-Bold.woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "AdisMarat";
  src: url("../fnt/MaratWeb-Light.woff");
  font-weight: normal;
  font-style: normal;
}


body {
  /* perspective: 200px; */
  font-size: 1em;
  font-family: 'AdisMarat', serif;
  color: white;
  overflow: hidden;

  background: linear-gradient(183deg, rgba(252,61,33,0.5) 1%, rgba(252,61,33,0) 60%),
              linear-gradient(250deg, rgba(252,61,33,0) 10%, rgba(252,61,33,0.2) 20%, rgba(11,35,47,0.2) 50%),
              repeating-linear-gradient(180deg, rgba(255,255,255,0.1), rgba(255,255,255,0.1) 3px, rgba(0,0,0,0.1) 3px, rgba(0,0,0,0.1) 4px );

  background-color: #0b3d91;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

img {
  height: 12em;
  opacity: 0.5;
}

a {
  text-decoration: none;
  color: white;
  box-sizing: border-box;
  box-shadow: inset 0 -0.06em 0 rgba(252,61,33,0.8); /* #fc3d21 */
}

a:hover {
  /*background: black;*/
  color: #fc3d21;
}

.teaser {
  font-family: 'AdisMarat', serif;
  font-weight: normal;
  font-size: 1.8em;
  line-height: 1.4em;
}

#universe {
  z-index: 1;
  position: relative;
  width: 100vw;
  height: 100vh;
}

.galaxy {
  width: 100%;
  height: 100%;
  position: relative;
}

#satelliteTest, #satelliteTest-dummy {
  width: 100px;
  height: 50px;
  background-color: rgba(255, 255, 0, 0.3);
  position: fixed;
}

#navitem--sub--1, #navitem--sub--2, #navitem--sub--3, #navitem--sub--4, #navitem--sub--5 {
  font-size: 2.2em;
  line-height: 1.6em;
  position: fixed;
  width: 18em;
}
#navitem--sub--2 {
  left: 10%;
  top: 40%;
  background-color: rgba(255,0,0,0.5);
}

svg {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left:0px;
  background-color:  none;
}

.sun {
  width: 6em;
  font-size: 4em;
  line-height: 1.5em;
  font-family: 'AdisKomet', sans-serif;
  color: #fc3d21;
  text-transform: uppercase;
  letter-spacing: 0.3em;

  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: calc(50% - 3.2em);
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

iframe {
  width: 1000px;
  height: auto;
}
